@use '../../../dark.scss' as d;
@use '../../../variables.scss' as v;

.album {
    display: grid;
    grid-template-areas:
        'ind img title . description . play'
        'ind img artist . description . play';
    grid-template-columns: min-content auto 1fr 2fr 1fr 2fr auto;
    align-items: center;
    column-gap: 1rem;
    row-gap: 0.33rem;

    &.album_norder {
        grid-template-areas:
            'img title . description . play'
            'img artist . description . play';
        grid-template-columns: auto 1fr 2fr 1fr 2fr auto;
    }

    &__index {
        grid-area: ind;
        font-size: v.$font-size-h4;
        font-weight: v.$font-weight-bold;
    }

    &__img {
        grid-area: img;
        width: 8.75rem;
        height: 8.75rem;
        border-radius: 1rem;
    }

    &__title {
        grid-area: title;
        align-self: end;
        font-size: v.$font-size-h4;
        font-weight: v.$font-weight-bold;
    }

    &__artist {
        grid-area: artist;
        align-self: start;
        font-weight: v.$font-weight-light;

        &:hover {
            text-decoration: underline;
        }
    }

    &__description {
        justify-self: center;
        grid-area: description;
        text-align: center;
        font-size: v.$font-size-h4;
        font-weight: v.$font-weight-light;
    }

    &__play {
        width: 2rem;
        height: 2rem;
        grid-area: play;
        cursor: not-allowed;
        background-color: d.$color-elements;
    }
}
