#playlists-panel {
    grid-area: playlists;
    padding: 2.25rem;

    background-color: var(--color-elements);
    border-radius: 0 1.25rem 1.25rem 0;

    overflow-y: scroll;
    height: 100%;

    direction: rtl;
}

#playlists-panel::-webkit-scrollbar {
    display: none;
}

#playlists-panel > ul {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    direction: ltr;
}

#playlists-panel .item img {
    width: 4.6rem;
    height: 4.6rem;
}

.playlist-add {
    background-color: transparent;
    width: 4.6rem;
    height: 4.6rem;
}

.playlist-add:hover {
    scale: 1.05;
}
