<div id="playlists-panel">
    <ul>
        {{#each this.playlists}}
        <li class="item">
            <a href="{{this.href}}">
                <img src="{{this.img}}" alt="playlist #{{@index}}">
            </a>
        {{/each}}
    </ul>
</div>