<ul id="playlists-list">
    <button class="playlist-add" style="cursor: not-allowed;">
        <img src="../../static/img/plus.svg">
    </button>
    {{#each this.playlists}}
    <li class="item">
        <a href="{{this.href}}">
            <img src="{{this.img}}" alt="playlist #{{@index}}">
        </a>
    {{/each}}
</ul>
