@use "root/variables.scss" as v;
@use "root/dark.scss" as d;

.playlist-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    &__img {
        position: relative;
        cursor: pointer;

        .content {
            width: 8.75rem;
            height: 8.75rem;
            border-radius: 15px;
            
            box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
        }

        .state {
            position: absolute;
            display: block;
            left: 50%;
            top: 50%;
            translate: -50% -50%;
        
            width: 33%;
            height: 33%;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.313rem;

        font-size: v.$font-size-h4;
        width: 8.75rem;

        &__title {
            text-align: center;
            font-weight: v.$font-weight-bold;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1.2;
            max-height: calc(v.$font-size-h4 * 1.2 * 2);
            word-break: break-word;
            overflow-wrap: break-word;
        }

        &__user {
            display: flex;
            gap: 0.313rem;
            
            text-align: center;
            font-size: v.$font-size-small;
            font-weight: v.$font-weight-light;

            &:first-child {
                font-weight: v.$font-weight-regular;
            }

            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1.2;
            max-height: calc(v.$font-size-h4 * 1.2 * 2);
            word-break: break-word;
            overflow-wrap: break-word;
        }
    }
}
