@use '../../dark.scss' as d;
@use '../../variables.scss' as v;

.form-input-container {
    display: flex;
    flex-direction: column;
    gap: 0.438rem;

    &__label {
        font-size: v.$font-size-h4;
    }

    &__input {
        padding: 0.6rem;

        background-color: d.$color-elements;
        border: 1px solid d.$color-border;
        border-radius: 0.625rem;

        &::placeholder {
            text-align: center;
            color: d.$color-text-transparent;
        }
    }

    &__radio {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.625rem;

        padding: 1.25rem;
        background-color: d.$color-elements;
        border: 1px solid d.$color-border;
        border-radius: 10px;

        &__label {
            display: flex;
            align-items: center;
            gap: 1.25rem;
        }

        &__input {
            appearance: none;

            width: 1.188rem;
            height: 1.188rem;

            background-color: d.$color-background;
            border: 1px solid d.$color-border;
            border-radius: 5px;

            &:checked {
                background-color: d.$color-highlight;
            }
        }
    }
}

.form-input-container--image {
    position: relative;

    &__button {
        position: absolute;

        display: flex;
        align-items: center;

        padding: 0.625rem;
        right: 15%;
        bottom: 15%;

        background-color: d.$color-elements;
        border: 1px solid d.$color-border;
        border-radius: 50%;

        > img {
            width: 1.25rem;
            height: 1.25rem;
        }

        &:hover {
            background-color: d.$color-highlight;
        }
    }

    &__image {
        width: 13.625rem;
        height: 13.625rem;
        border-radius: 50%;
    }

    &__input {
        opacity: 0;
        position: absolute;
    }
}

@mixin form-button {
    padding: 0.625rem 1rem;
    border: 1px solid d.$color-border;
    border-radius: 10px;

    font-size: v.$font-size-h4;
    color: d.$color-text;
}

.form-apply-button {
    @include form-button;
    background-color: #1f68f2;
}

.form-reject-button {
    @include form-button;
    background-color: #c83126;
}
