@use '../../dark.scss' as d;
@use '../../variables.scss' as v;

.page--settings {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    &__top {
        display: flex;
        gap: 3.125rem;

        &__avatar {
            .form-input-container__image {
                width: 13.625rem;
                height: 13.625rem;
            }
        }

        &__info {
            display: flex;
            flex-direction: column;
            gap: 1.563rem;

            font-size: v.$font-size-h4;
        }
    }

    &__main {
        display: grid;
        grid-template-areas: 'auth privacy' 'security privacy';
        grid-template-rows: repeat(2, min-content);
        grid-template-columns: 1fr 2.2fr;
        row-gap: 2.5rem;
        column-gap: 9.875rem;

        &__auth {
            grid-area: auth;
        }
    
        &__security {
            grid-area: security;
        }
    
        &__privacy {
            grid-area: privacy;

            >div {
                display: grid;
                grid-template-areas: 
                    'playlists stats-minutes'
                    'artists stats-tracks'
                    'tracks stats-artists';
                grid-template-rows: repeat(3, min-content);
                row-gap: 4.25rem;
                column-gap: 4.25rem;
            }

            &__playlists {
                grid-area: playlists;
            }

            &__artists {
                grid-area: artists;
            }

            &__tracks {
                grid-area: tracks;
            }

            &__stats-minutes {
                grid-area: stats-minutes;
            }

            &__stats-tracks {
                grid-area: stats-tracks;
            }

            &__stats-artists {
                grid-area: stats-artists;
            }
        }

        &__auth, &__security, &__privacy {
            display: flex;
            flex-direction: column;
            gap: 2.5rem;
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
    }
}