@use "root/variables.scss" as v;
@use "root/dark.scss" as d;

.artist-card > a {
    width: 8.75rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.artist-card {
    // &:hover {
    //     text-decoration: none;
    // }
    
    &__img {
        width: 8.75rem;
        height: 8.75rem;
        @media (max-width: 600px) {
            width: 7.7rem;
            height: 7.7rem;
        }

        border-radius: 50%;
    }

    &__info {
        display: flex;
        justify-content: center;

        &__title {
            width: 100%;

            font-size: v.$font-size-h4;
            font-weight: v.$font-weight-bold;

            text-align: center;
        } 
    }
}