@use "root/variables.scss" as v;
@use "root/dark.scss" as d;

.header {
    grid-area: header;

    display: flex;
    align-items: center;
    gap: 1.688rem;

    padding: 1.4rem calc(1.875rem + v.$width-scroll) 1.4rem 1.875rem;
    @media (max-width: 600px) {
        padding: 1.4rem 1.875rem 1.4rem 1.875rem;
    }

    &__search {
        height: 2.5rem;
        width: 20rem;

        padding: 12px;

        display: flex;
        @media (max-width: 600px) {
            display: none;
        }
        align-items: center;
        text-align: center;
        gap: 1rem;

        background-color: d.$color-elements;
        border: 1px solid d.$color-border;
        border-radius: 3rem;

        > img {
            width: 1.5rem;
            height: 1.5rem;
        }

        > input {
            font-size: v.$font-size-additional;
            flex-grow: 1;
            background-color: transparent;
        }
    }

    &__nav {
        display: flex;
        @media (max-width: 1100px) {
            display: none;
        }
        align-items: center;
        gap: 1.5rem;

        &__item {
            a {
                display: flex;
                align-items: center;
                gap: 0.625rem;

                font-size: v.$font-size-main;

                width: 1.375rem;
                overflow: hidden;
                transition: all 0.2s ease-in-out;
                
                &:hover {
                    text-decoration: none;
                }
            }
            
            img {
                width: 1.375rem;
                height: 1.375rem;
            }

            &.active,
            &:hover {
                a {
                    width: 100%
                }
            }
        }
    }

    &__auth {
        margin-left: auto;

        display: flex;
        align-items: center;
        gap: 1.5rem;

        &__icon {
            display: none;
            @media (max-width: 1200px) {
                display: flex;
            }

            width: 2.7rem;
            height: 2.7rem;
            border-radius: 50%;

            background-image: url('/public/img/auth__icon.svg');
            background-repeat: no-repeat;
            background-position: center;
        }

        &__login {
            display: flex;
            @media (max-width: 1200px) {
                display: none;
            }
        }

        &__register {
            display: flex;
            @media (max-width: 1200px) {
                display: none;
            }
        }
    }

    &__profile {
        position: relative;
        margin-left: auto;

        &__avatar {
            cursor: pointer;

            width: 3rem;
            height: 3rem;
            border-radius: 50%;
        }

        &__menu {
            z-index: 1;
            position: absolute;
            top: 100%;
            left: 50%;
            translate: -50% 0;

            margin-top: 1.32rem;
            padding: 1.2rem 0.7rem;

            display: flex;
            flex-direction: column;
            gap: 1.2rem;

            background-color: d.$color-elements;
            border: 1px solid d.$color-border;
            border-radius: 10px;

            .item {
                display: flex;
                align-items: center;
                gap: 0.5rem;

                img {
                    width: 1rem;
                    height: 1rem;
                }
            }

            &__separator {
                width: 100%;
                height: 1px;
                background-color: d.$color-border;
            }
        }
    }
}