<div class="player__container">
    <div class="player__song-container">
        <div class="player__song">
            <img src="/static/img/251912_7_sq.jpg" alt="Album cover">
            <div class="player__song-text">
                <span class="song-name">Miside main OST</span>
                <span class="artist">aihasto</span>
            </div>
        </div>
        <img src="/static/img/like-default.svg" class="icon" alt="Like">
        <img src="/static/img/dots.svg" class="icon" alt="Menu">
    </div>

    <div class="player__widgets">
        <div class="player__controls">
            <img src="/static/img/player-shuffle.svg" class="icon" alt="Shuffle">
            <img src="/static/img/player-prev.svg" class="icon" alt="Previous">
            <img src="/static/img/player-play.svg" class="icon" id="play" alt="Play">
            <img src="/static/img/player-next.svg" class="icon" alt="Next">
            <img src="/static/img/player-repeat.svg" class="icon" alt="Repeat">
        </div>
        <div class="player__progress-container">
            <span id="current-span">0:00</span>
            <div class="rectangle" id="play-progress">
                <div class="rectangle-prev"></div>
                <div class="circle"></div>
            </div>
            <span id="end-span">0:00</span>
        </div>
    </div>

    <div class="player__tools">
        <img class="icon" src="/static/img/volume.svg" alt="Volume">
        <div class="rectangle-volume" id="volume-progress">
            <div class="rectangle-prev"></div>
            <div class="circle"></div>
        </div>
        <img class="icon" src="/static/img/resize.svg" alt="Fullscreen">
    </div>
</div>
