<div class="small-player__container">
    <div class="small-player__song-container">
        <div class="small-player__song" id="song-container">
            <img id="song-img">
            <div class="small-player__song-text">
                <span id="song-name" class="song-name">nothing</span>
                <span id="artist-name" class="artist-name">nothing</span>
            </div>
        </div>
        <img src='/static/img/like-default.svg' class='icon' alt='Like' />
        <img src='/static/img/dots.svg' class='icon' alt='Menu' />
    </div>

    <div class="small-player__widgets">
        <div class="small-player__controls">
            <img src="/static/img/player-shuffle.svg" class="icon" id="shuffle" alt="Shuffle">
            <img src="/static/img/player-prev.svg" class="icon" id="prev" alt="Prev">
            <img src="/static/img/player-play.svg" class="icon" id="play" alt="Play">
            <img src="/static/img/player-next.svg" class="icon" id="next" alt="Next">
            <img src="/static/img/player-repeat.svg" class="icon" id="repeat" alt="Repeat">
        </div>
        <div class="small-player__progress-container">
            <span id="current-span">0:00</span>
            <div class="rectangle" id="play-progress">
                <div class="rectangle-prev"></div>
                <div class="circle"></div>
            </div>
            <span id='end-span'>0:00</span>
        </div>
    </div>

    <div class="small-player__tools">
        <img class="icon" src="/static/img/volume.svg" id="volume" alt="Volume">
        <div class="rectangle-volume" id="volume-progress">
            <div class="rectangle-prev"></div>
            <div class="circle"></div>
        </div>
        <img class="icon resize" src="/static/img/maximize.svg" id="resize" alt="Small">
    </div>
</div>