@use '../../dark.scss' as d;
@use '../../variables.scss' as v;

.track {
    position: relative;
    display: grid;
    grid-template-areas:
        "ind img title . album . duration like actions"
        "ind img artist . album . duration like actions";
    grid-template-columns: min-content auto 1fr 2fr 1fr 2fr auto auto auto;
    align-items: center;
    column-gap: 1rem;
    row-gap: 0.33rem;

    &.track_norder {
        grid-template-areas:
            "img title . album . duration like actions"
            "img artist . album . duration like actions";
        grid-template-columns: auto 1fr 2fr 1fr 2fr auto auto auto;
    }

    &__index {
        grid-area: ind;
        font-size: v.$font-size-h4;
        font-weight: v.$font-weight-bold;
    }

    &__img {
        grid-area: img;
        width: 4.6rem;
        height: 4.6rem;
        border-radius: 1rem;
    }

    &__title {
        grid-area: title;
        align-self: end;
        font-size: v.$font-size-h4;
        font-weight: v.$font-weight-bold;
    }

    &__artist {
        grid-area: artist;
        align-self: start;
        font-weight: v.$font-weight-light;
    }

    &__album {
        justify-self: center;
        grid-area: album;
        font-size: v.$font-size-h4;
        font-weight: v.$font-weight-light;
    }

    &__duration {
        grid-area: duration;
        font-size: v.$font-size-h4;
        font-weight: v.$font-weight-light;
    }

    &__like {
        grid-area: like;
        width: 2rem;
        height: 2rem;
        cursor: not-allowed;
    }

    &__actions {
        grid-area: actions;
        width: 2rem;
        height: 2rem;
        cursor: not-allowed;
    }
}