.card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.card__img {
    width: 10rem;
    height: 10rem;
}

.card__text {
    display: block;
    font-size: var(--font-size-h4);
    
    text-align: center;
}