<div class="card {{this.classes}}">
    <a class="card__link" href="{{this.href}}">
        <img class="card__img" src="{{this.img}}" alt="card img">
        <span class="card__text">{{this.text}}</span>
    </a>
</div>