#songs {
    grid-area: page;

    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    padding: 2.5rem;

    border-radius: 1.25rem;

    background-color: var(--color-elements);

    overflow-y: scroll;
    height: 100%;
}

#songs section {
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#recent,
#loved {
    height: fit-content;
}

#recent > .cards,
#loved > .cards {
    display: flex;
    gap: 1.5rem;

    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
}

#recommendations .songs {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
