<div id="songs">
    <section id="collections"> 
        {{>collections}}
    </section>
    <section id="recent">
        <h1>Недавно прослушанные</h1>
        <div class="cards">
            {{#each this.recent}}
                {{>music-card}}
            {{/each}}
        </div>
    </section>
    <section id="loved">
        <h1>Любимые треки</h1>
        <div class="cards">
            {{#each this.loved}}
                {{>music-card}}
            {{/each}}
        </div>
    </section>
    <section id="recommendations">
        <h1>Рекомендации</h1>
        <div class="songs">
            {{#each this.recommendations}}
                {{>song}}
            {{/each}}
        </div>
    </section>
</div>

