#root {
    --color-text: #f6f6f6;
    --color-text-transparent:  rgba(249, 249, 249, 0.5);
    --color-border: rgb(249, 249, 249, 0.5);

    --color-highlight: #1F68F2;

    --color-elements: #182633;
    --color-background: #000; /*#0c1821;*/

    --color-font-element: #283349;
}
