// Color Variables
$color-text: #f6f6f6;
$color-text-transparent: rgba(249, 249, 249, 0.5);
$color-border: rgba(249, 249, 249, 0.5);

$color-highlight: #ff7a8a;
$color-success: #4bb543;
$color-button-active: #1f68f2;

$color-elements: #0c1821;
$color-profile-dropdown: #182633;
$color-background: #0c1821;
$color-background-root: black;

$color-font-element: #0c1821;
$color-collection: #262b3d;
