#root {
    --color-text: #f6f6f6;
    --color-text-transparent: #f9f9f9;

    --color-highlight: #ff7a8a;
    --color-highlight2: #f44336;

    --color-elements: #182633;
    --color-background: #0c1821;
}
