@use './variables.scss' as v;
@use './dark.scss' as d;

html {
    @media (max-width: 1200px) {
        font-size: 14px;
    }
    
    @media (max-width: 600px) {
        font-size: 12px;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: d.$color-background-root;
    color: d.$color-text;
    font-family: v.$font-family-main;
}

a {
    text-decoration: none;
    color: d.$color-text;

    &:hover {
        text-decoration: underline;
    }
}

input {
    border: none;
    color: d.$color-text;

    &:focus {
        outline: none;
    }
    &::placeholder {
        font-size: v.$font-size-additional;
        color: d.$color-text-transparent;
        font-size: v.$font-size-additional;
    }
}

h1 {
    user-select: none;
    font-size: v.$font-size-h1;
    font-family: v.$font-family-header;
    font-weight: 100;
}
h2 {
    font-size: v.$font-size-h2;
    font-family: v.$font-family-header;
}
h3 {
    font-size: v.$font-size-h3;
    font-family: v.$font-family-header;
}
h4 {
    font-size: v.$font-size-h4;
    font-family: v.$font-family-header;
}

::-webkit-scrollbar {
    width: v.$width-scroll;
    @media (max-width: 600px) {
        width: 0;
    }
    height: v.$height-scroll;
}

::-webkit-scrollbar-thumb {
    background: d.$color-border;
}

::-webkit-scrollbar-track {
    background: d.$color-background-root;
}

.dropdown {
    position: relative;

    &__label {
        cursor: pointer;
    }

    &__checkbox {
        visibility: hidden;
        pointer-events: none;
        position: absolute;
    }

    &__checkbox:checked ~ &__content {
        visibility: visible;
    }

    &__content {
        visibility: hidden;

        display: flex;
        flex-direction: column;
        gap: 1.25rem;

        position: absolute;
        top: 100%;
        left: 50%;
        translate: -50% 0;

        padding: 1.2rem;

        background-color: d.$color-background;
        border: 1px solid d.$color-border;
        border-radius: 15px;
    }
}

.track-active {
    filter: brightness(0.5);
    transition: filter 0.3s ease;
}

.track-icon-active {
    display: block;
}
