@import url(components/music-card/music-card.css);
@import url(components/artist-card/artist-card.css);
@import url(components/album-card/album-card.css);

@import url(components/song/song.css);
@import url(components/album/album.css);

@import url(components/header/header.css);
@import url(components/playlists/playlists.css);

@import url(pages/main/main.css);
@import url(pages/artists/artists.css);
@import url(pages/albums/albums.css);

@import url(dark.css);

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-areas:
        'header header'
        'playlists page'
        'footer footer';
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: min-content 1fr;
    gap: 0.5rem;

    color: var(--color-text);
    background-color: var(--color-background);

    font-family: var(--font-family-main);
    font-size: var(--font-size-main);
    font-weight: 400;
    line-height: 1;

    --font-family-header: 'Days One';
    --font-family-main: 'Inter';

    --font-size-small: 0.75rem;
    --font-size-main: 1rem;
    --font-size-h1: 2rem;
    --font-size-h2: 1.75rem;
    --font-size-h3: 1.5rem;
    --font-size-h4: 1.25rem;

    --font-weight-bold: 700;
    --font-weight-light: 300;
}

a {
    text-decoration: none;
    color: var(--font-color-main);
}

button {
    border: none;
    cursor: pointer;
}

input {
    display: block;
}

h1 {
    font-size: var(--font-size-h1);
    font-family: var(--font-family-header);
}
h2 {
    font-size: var(--font-size-h2);
    font-family: var(--font-family-header);
}
h3 {
    font-size: var(--font-size-h3);
    font-family: var(--font-family-header);
}
h4 {
    font-size: var(--font-size-h4);
    font-family: var(--font-family-header);
}
