@import url(components/card/card.css);

@import url(components/header/header.css);
@import url(components/playlists/playlists.css);
@import url(components/main/main.css);

@import url(dark.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    width: 100vw;
    height: 100vh;
    
    background-color: var(--color-background);
    color: var(--color-text);

    --font-size-main: 1rem;
    --font-size-small: 0.75rem;
    --font-size-h1: 2rem;
    --font-size-h2: 1.75rem;
    --font-size-h3: 1.5rem;
    --font-size-h4: 1.25rem;


    display: grid;
    grid-template-areas: 
        "header header"
        "playlists main"
        "footer footer";
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: min-content 1fr;
    gap: 0.5rem;
}

a {
    text-decoration: none;
    color: var(--font-color-main);
}

button {
    border: none;
    cursor: pointer;
}

input {
    display: block;
}

h1 {
    font-size: var(--font-size-h1);
}
h2 {
    font-size: var(--font-size-h2);
}
h3 {
    font-size: var(--font-size-h3);
}
h4 {
    font-size: var(--font-size-h4);
}