/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@font-face {
    font-family: 'Days One';
    src: url('fonts/DaysOne-Regular.ttf');
}

// Typography Variables
$font-family-header: 'Days One';
$font-family-main: 'Inter';

$font-size-small: 1rem;
$font-size-large: 4rem;
$font-size-big: 3rem;
$font-size-main: 1.2rem;
$font-size-additional: 1.188rem;
$font-size-h1: 2rem;
$font-size-h2: 1.75rem;
$font-size-h3: 1.5rem;
$font-size-h4: 1.3rem;
$font-size-collections: 1.375rem;

$font-line-height: 1.25;

$font-weight-bold: 600;
$font-weight-regular: 400;
$font-weight-light: 300;

// Spacing & UI Variables
$width-scroll: 0.8rem;
$height-scroll: 0.5rem;
$main-padding: 1.875rem;

$bottomPlayer-height: 5.25rem;
$bottomPlayer-height-progress: 5px;
$bottomPlayer-border-radius-progress: 50px;
$bottomPlayer-width-circle: 12px;

$mobilePlayer-height: 5rem;
$mobilePlayer-height-progress: 2px;
$mobilePlayer-border-radius-progress: 50px;
$mobilePlayer-width-circle: 12px;

$mobileFullscreenPlayer-height: 7rem;
$mobileFullscreenPlayer-height-progress: 5px;
$mobileFullscreenPlayer-border-radius-progress: 50px;
$mobileFullscreenPlayer-width-circle: 14px;

$bottomHeader-height: 3.75rem;