.music-card > a {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0.6rem;
}

.music-card__img {
    width: 8.75rem;
    height: 8.75rem;
    border-radius: 1rem;

    overflow: hidden;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.music-card__title {
    text-align: center;
    font-size: var(--font-size-h4);
    font-weight: var(--font-weight-bold);
}

.music-card__artist {
    font-weight: var(--font-weight-light);
    text-align: center;
}
