<section class="section section--artists">
    <h1 class="section__title">{{this.title}}</h1>
    <a class="section__all" href="{{this.href_all}}">Показать все</a>
    <div class="section__content">
        {{#each this.artists}}
            {{>artist-card}}
        {{/each}}
    </div>
</section>