<section class="section"> 
    <h1 class="section__title">Только для тебя</h1>
    {{>collections}}
</section>  

{{#if this.loved}}
    {{>artists-section title="Любимые исполнители" href_all="/all/loved-artists" artists=this.loved }}
{{/if}}

{{#if this.recommendations}}
    {{>artists-section title="Рекомендации" href_all="/all/recommendations-artists" artists=this.recommendations }}
{{/if}}