<section class="section"> 
    <h1>Только для тебя</h1>
    {{>collections}}
</section>  

{{#if this.loved}}
    {{>artists-section title="Любимые исполнители" href_all="#" artists=this.loved }}
{{/if}}

{{#if this.recommendations}}
    {{>artists-section title="Рекомендации" href_all="#" artists=this.recommendations }}
{{/if}}