<div class="collections-container">
    <button class="top-chart">Топ-чарт</button>
    <button class="popular">Популярное</button>
    <button class="new-from-artists">Новинки от любимых исполнителей</button>
    <button class="week-hot">Открытия недели</button>
</div>

