<div class='collections-container'>
    <button style='cursor: not-allowed;' class='top-chart'>Топ-чарт</button>
    <button style='cursor: not-allowed;' class='popular'>Популярное</button>
    <button style='cursor: not-allowed;' class='new-from-artists'>Новинки от
        любимых исполнителей</button>
    <button style='cursor: not-allowed;' class='week-hot'>Открытия недели</button>
</div>
