<div class="collections-container">
    <div class="collections-container__first-column">
        <button>Топ-чарт</button>
        <button>Популярное</button>
    </div>
    <button class="collections-container__fat-button">Новинки от любимых исполнителей</button>
    <button class="collections-container__fat-button">Открытия недели</button>
</div>

