<div class='collections-container section__content'>
    <div>
        <button class="collections-container__favourite">
        </button>
        <span>Самое любимое</span>
    </div>

    <div>
        <button class="collections-container__popular">
        </button>
        <span>Популярное</span>
    </div>

    <div>
        <button class="collections-container__new">
        </button>
        <span>Новинки</span>
    </div>

    <div>
        <button class="collections-container__week">
        </button>
        <span>Открытия недели</span>
    </div>

    <div>
        <button class="collections-container__top">
        </button>
        <span>Топ чарт</span>
    </div>
</div>