
<main>
    <div>
        <ul>
            <li>
                <a href=""><img src="" alt="playlist"></a>
            </li>
            <li>
                <a href=""><img src="" alt="playlist"></a>
            </li>
            <li>
                <a href=""><img src="" alt="playlist"></a>
            </li>
        </ul>
    </div>
    <section>

    </section>
    <section>

    </section>
    <section>
        
    </section>
</main>
<footer>

</footer>