@use '../../dark.scss' as d;
@use '../../variables.scss' as v;

.auth-form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    font-size: v.$font-size-h2;
    font-weight: bold;

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);

    z-index: 1000;

    input {
        display: block;
    
        border-radius: 1rem;
        border: 1px solid d.$color-border;
    
        color: d.$color-text;
    
        background-color: d.$color-font-element;
    }
    
    input::placeholder {
        font-weight: v.$font-weight-light;
        color: d.$color-text-transparent;
    }

    input:placeholder-shown {
        text-align: center;
        padding-left: 0;
    }

    &__base-input {
        width: 17.5rem;
        height: 2.438rem;
        padding-left: 1rem;
        font-size: v.$font-size-small;
    }

    &__submit-btn {
        height: 2.438rem;
        padding: 0 1rem 0 1rem;
        font-size: v.$font-size-small;
        cursor: pointer;
    }

    &__submit-btn:hover {
        background-color: d.$color-button;
    }

    &__span-container {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
}

.auth-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    background: d.$color-elements;

    gap: 1rem;
    width: 26.25rem;

    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    border: 1px solid d.$color-border;

    z-index: 1001;

    &__line {
        width: calc(100% - 2rem);
        height: 0.063rem;
        background-color: d.$color-border;
        margin-bottom: 1rem;
    }

    &__input-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 1rem 0 1rem;
        gap: 1rem;
    
        font-weight: bold;
        font-size: v.$font-size-h4;
    }
}

.error-message {
    text-align: center;
    font-size: v.$font-size-small;
    color: d.$color-highlight;
    font-weight: v.$font-weight-light;
}

.border-error {
    border: 1px solid d.$color-highlight !important; 
}

.border-error:focus {
    border: 1px solid d.$color-highlight !important; 
    outline: none;
}