@use "root/variables.scss" as v;
@use "root/dark.scss" as d;
@use "sass:color";

.actions {
    position: relative;
    
    &__img {
        width: 2rem;
        height: 2rem;

        cursor: pointer;
    }

    &__popup {
        display: flex;
        flex-direction: column;
        gap: 5px;

        padding: 0.625rem;

        background-color: d.$color-elements;
        border: 1px solid d.$color-border;
        border-radius: 10px;

        > * {
            padding: 0 5px;
            background-color: transparent;

            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}