.popup {
    z-index: 10;
    position: absolute;
    overflow: auto;
}

.popup--centered {
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.popup--above {
    bottom: 100%;
    right: 0;
}

.popup--under {
    top: 100%;
    right: 0;
}