.popup {
    z-index: 9;
    position: absolute;
}

.popup--left {
    top: 0;
    right: 100%;
}

.popup--right {
    top: 0;
    left: 100%;
}

.popup--above {
    bottom: 100%;
    right: 0;
}

.popup--under {
    top: 100%;
    right: 0;
}