@use "root/variables.scss" as v;
@use "root/dark.scss" as d;

.section {
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__title {
            @media (max-width: 600px) {
                font-size: v.$font-size-h3;
            }
        }

        &__link {
            @media (max-width: 600px) {
                font-size: v.$font-size-small;
            }
            flex-shrink: 0;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }

    &--horizontal>&__content,
    &--horizontal>*>&__content {
        flex-direction: row;
        gap: 2rem;

        overflow-x: scroll;
        overflow-y: hidden;
        scrollbar-width: none;
    }

    &--wrap>&__content {
        overflow: hidden;
        flex-wrap: wrap;
    }
}
