<div class='album-card'>
    <a href='{{this.href}}'>
        <img src='{{this.img}}' alt='' class='album-card__img' />
        <span class='album-card__title'>{{this.title}}</span>
        <span class='album-card__artist'>{{this.artist}}</span>
        {{#if this.isLiked}}
            <img
                class='album-card__like'
                src='/static/img/like-active.svg'
                alt='like'
            />
        {{/if}}
    </a>
</div>