<form>
    <div class="form-input-container">
        <input class="form-input-container__input" name="username" data-rzv="username" type="text" placeholder="Логин">
        <p class="form-input-container__error" data-rzv="username-error"></p>
    </div>
    <div class="form-input-container">
        <input class="form-input-container__input" name="password" data-rzv="password" type="password" placeholder="Пароль">
        <p class="form-input-container__error" data-rzv="password-error"></p>
    </div>
    <button class="form-apply-button">Вход</button>
</form>

<section class="section"> 
    <h1 class="section__title">Только для тебя</h1>
    {{>collections}}
</section>

{{#if this.recent}}
    {{>musics-section title="Недавно прослушанные" href_all="#" musics=this.recent }}
{{/if}}

{{#if this.loved}}
    {{>musics-section title="Любимые треки" href_all="#" musics=this.loved }}
{{/if}}

{{#if this.recommendations}}
    {{>tracks-section title="Рекомендации" href_all="#" tracks=this.recommendations }}
{{/if}}

{{#if showBottomPlayer}}
    {{>bottom-player}}
{{/if}}

