<section class="section"> 
    <h1>Только для тебя</h1>
    {{>collections}}
</section>
{{#if this.user}}
    <section class="section section--recent">
        <h1>Недавно прослушанные</h1>
        <div>
            {{#each this.recent}}
                {{>music-card}}
            {{/each}}
        </div>
    </section>
    <section class="section section--loved">
        <h1>Любимые треки</h1>
        <div>
            {{#each this.loved}}
                {{>music-card}}
            {{/each}}
        </div>
    </section>
{{/if}}
<section class="section section--recommendations">
    <h1>Рекомендации</h1>
    <div>
        {{#each this.recommendations}}
            {{>track}}
        {{/each}}
    </div>
</section>
