#main {
    grid-area: main;

    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    padding: 2.5rem;

    border-radius: 1.25rem;

    background-color: var(--color-elements);

    overflow-y: scroll;
    height: 100%;
}

#main section {
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

#recent, #loved {
    overflow-x: scroll;;
    max-width: 100%;
}

#recent .cards, #loved .cards {
    display: flex;
    gap: 3.5rem;
}

#recommendations .songs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#recommendations .song {
    display: grid;
    grid-template-areas: 
        'img title album duration like actions'
        'img artist album duration like actions';
    gap: 1rem;
    align-items: center;
}

#recommendations .song__img {
    grid-area: img;

    width: 3.75rem;
    height: 3.75rem;
}

#recommendations .song__title {
    grid-area: title;
}

#recommendations .song__artist {
    grid-area: artist;
}

#recommendations .song__album {
    grid-area: album;
}

#recommendations .song__duration {
    grid-area: duration;
}

#recommendations .song__like {
    grid-area: like;
}

#recommendations .song__actions {
    grid-area: actions;
}