.artist-card {
    position: relative;
}

.artist-card > a {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0.6rem;
}

.artist-card__img {
    width: 8.75rem;
    height: 8.75rem;

    border-radius: 50%;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.artist-card__name {
    font-size: var(--font-size-h4);
    font-weight: var(--font-weight-bold);
}

.artist-card__like {
    position: absolute;
    left: 7rem;
    top: 7rem;

    width: 2rem;
    height: 2rem;
}
