@use "root/variables.scss" as v;
@use "root/dark.scss" as d;

.artist-card > a {
    width: 8.75rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.artist-card {
    position: relative;

    &:hover {
        text-decoration: none;
    }
    
    &__img {
        width: 8.75rem;
        height: 8.75rem;
        @media (max-width: 600px) {
            width: 7.7rem;
            height: 7.7rem;
        }

        border-radius: 50%;
    }

    &__edit {
        position: absolute;
        left: calc(50% + 1.85rem);
        top: 5.25rem;

        width: 2.25rem;
        height: 2.25rem;
        padding: 0.625rem;

        opacity: 0.65;
        background-color: d.$color-elements;
        border-radius: 50%;

        cursor: pointer;
        transition: all ease-in-out 0.3s;

        &:hover {
            opacity: 0.9;
            scale: 1.05;
        }
    }

    &__info {
        display: flex;
        justify-content: center;

        &__title {
            width: 100%;

            font-size: v.$font-size-h4;
            font-weight: v.$font-weight-bold;

            text-align: center;
        } 
    }
}