<div id="albums">
    <section id="collections"> 
        {{>collections}}
    </section>  
    <section id="loved">
        <h1>Любимые альбомы</h1>
        <div class="cards">
            {{#each this.loved}}
                {{>album-card}}
            {{/each}}
        </div>
    </section>
    <section id="recommendations">
        <h1>Рекомендации</h1>
        <div class="albums">
            {{#each this.recommendations}}
                {{>album}}
            {{/each}}
        </div>
    </section>
</div>

