<section class="section"> 
    <h1 class="section__title">Только для тебя</h1>
    {{>collections}}
</section>

{{#if this.loved}}
    {{>albums-card-section title="Любимые альбомы" href_all="#" albums=this.loved }}
{{/if}}

{{#if this.recommendations}}
    {{>albums-section title="Рекомендации" href_all="#" albums=this.recommendations }}
{{/if}}
