#albums-page {
    grid-area: page;

    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    padding: var(--main-padding);

    border-radius: 1.25rem;

    background-color: var(--color-elements);

    overflow-y: scroll;
    height: 100%;
}

#albums-page section {
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    height: fit-content;
}

#albums-page #loved > .cards {
    display: flex;
    gap: 1.5rem;

    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 1rem;
}

#albums-page #recommendations > .albums {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
