<header id="header">
    <a class="header__logo">
        <img class="logo" src="/static/img/logo.png" alt="logo">
    </a>
    <div id="header-container" class="header__container">
        <div class="header__main">
            <form class="header__search" onsubmit="return false;">
                <input type="text" id="search" name="search" placeholder="Поиск...">
            </form>
            <nav class="header__nav">
                <ul id="header-list">
                    {{#each this.navItems}}
                        <li class="item {{#if this.active}}active{{/if}}">
                            <a href="{{this.href}}" data-section="{{@key}}">
                                <img class="icon" src="{{this.icon}}">
                                <span>{{this.text}}</span>
                            </a>
                        </li>
                    {{/each}}
                </ul>
                <ul id="dropdown-menu" class="hidden-items-grid hide-grid"></ul>
            </nav>
        </div>
    </div>
    <div class="header__profile">
        <img class="profile__img" src="/static/img/no-avatar.svg" alt="profile">
        <div class="profile__dropdown">
            <a href="#">Профиль</a>
            <a href="#">Настройки</a>
            <a href="#" data-action="logout">Выйти</a>
        </div>
    </div>
</header>

