<header id="header">
    <a class="header__logo">
        <img class="logo" src="/static/img/logo.png" alt="logo">
    </a>
    <div id="header-container" class="header__container">
        <div class="header__main">
            <form class="header__search" onsubmit="return false;">
                <input type="text" id="search" name="search" placeholder="Поиск...">
            </form>
            <nav class="header__nav">
                <ul id="header-list">
                    {{#each this.navItems}}
                        <li class="item {{#if this.active}}active{{/if}}">
                            <img class="icon" src="{{this.icon}}">
                            <a class="data-href" href="{{this.href}}" data-section="{{@key}}">{{this.text}}</a>
                        </li>
                    {{/each}}
                </ul>
                <div id="dropdown-menu" class="hidden-items-grid hide"></div>
            </nav>
        </div>
    </div>
    <a class="header__profile" href="">
        <img src="/static/img/no-avatar.svg" alt="profile">
    </a>
</header>

