<header id="header">
    <a class="header__logo">
        <img class="logo" src="/static/img/logo.png" alt="logo">
    </a>
    <form class="header__search">
        <input type="text" id="search" name="search" placeholder="Поиск...">
    </form>
    <nav class="header__nav">
        <ul>
            {{#each this.navItems}}
                <li class="item {{#if this.active}}active{{/if}}">
                    <img src="{{this.icon}}" alt="">
                    <a href="{{this.href}}" data-section="{{@key}}">{{this.text}}</a>
                </li>
            {{/each}}
        </ul>
    </nav>
    <a class="header__profile" href="">
        <img src="/static/img/no-avatar.svg" alt="profile">
    </a>
</header>